.header {
  height: auto;
  /* min-height: 84px; */
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.links {
  padding-top: var(--mantine-spacing-lg);
  min-height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_link {
  /* text-transform: uppercase; */
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: 7px var(--mantine-spacing-sm);
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transition:
    border-color 100ms ease,
    color 100ms ease;

  @mixin hover {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    text-decoration: none;
  }

  &[data-active] {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    border-bottom-color: var(--mantine-color-blue-7);
  }
}

.mobile_menu {
  padding: 12px 16px;
  background-color: var(--mantine-color-body);
}

.mobile_links {
  display: flex;
  flex-direction: column;
}

.mobile_cta {
  padding-top: 48px;
  padding-bottom: 48px;
}

.child_link {
  border-radius: 8px;
  transition: background-color 150ms ease;
}

.child_link:hover {
  background-color: var(--mantine-color-blue-0);
}
